*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    overflow-x: hidden;
    height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
button {
    line-height: 1.25;
    font-weight: 600;
}

body {
    margin-left: 0;
    transition: all .5s;
}

section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    padding-left: 100px;
}

.add-margin {
    margin-left: 15%;
}

.background-dark {
    background-color: $base-color;
}

.white-text {
    color: $base-color-white !important;
}

.white-background-btn {
    background-color: $base-color-white !important;
    color: $base-color !important;
}