$base-color: #d3e383;
$base-color-secondary: #d7e3a4;
$base-color-tertiary: #f0f6cd;
$base-color-white: #f3f4f4;
$base-color-white-light: #ffffff;
$base-color-grey: #8198a7;
$base-color-grey-light: #f1f3f2;
$base-color-grey-dark: #506d6f;