.about-section {
    background-color: $base-color-white;
    &__intro-paragraph {
        width: 100%;
        height: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        &__text {
            font-size: 2rem;
            text-align: center;
            color: $base-color-grey-dark;
        }
    }
    &__cards-holder {
        width: 100%;
        height: 75%;
        &__title {
            font-size: 5rem;
            color: $base-color-grey-dark;
            text-align: center;
            text-decoration: underline dotted 3px;
        }
        &__card-row {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            height: 40%;
            &__card {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: all .5s ease;
                text-align: center;
                border: 3px solid $base-color-grey;
                cursor: pointer;
                &__front {
                    background-color: $base-color-white;
                    backface-visibility: hidden;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 2.5rem;
                    color: $base-color-grey-dark;
                    &__icon {
                        width: 30%;
                        margin-bottom: 2.5rem;
                    }
                }
                &__back {
                    background-color: $base-color-white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    backface-visibility: hidden;
                    padding: 2.5rem;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    transform: rotateY(180deg);
                    transition: all .5s ease;
                }
            }
        }
    }
}

.hover-area {
    height: 80%;
    width: 20%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    &:hover .about-section__cards-holder__card-row__card {
        transform: rotateY(180deg);
    }
}