.footer-tweets-section {
    border-top: 3px solid $base-color;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $base-color-white-light;
    flex-direction: column;
    overflow: hidden;
    height: 120vh !important;
    &__tweets-div {
        padding: 5rem;
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        &__header {
            font-size: 5rem;
            margin: 4rem 0;
            color: $base-color-grey-dark;
        }
        &__news-grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            width: 100%;
            height: 80%;
            position: relative;
            overflow: hidden;
            &__grid-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 3px solid $base-color-grey;
                cursor: pointer;
                &__text-wrapper {
                    z-index: 10;
                    padding: 4rem;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    &:hover>&__header,
                    &:hover>&__text {
                        color: $base-color-grey-dark;
                    }
                    &__header {
                        font-size: 2.5rem;
                        margin-bottom: 3rem;
                        color: $base-color-grey-dark;
                    }
                    &__text {
                        font-size: 1.7rem;
                        color: $base-color-grey;
                    }
                    &__read-more {
                        position: absolute;
                        bottom: 5%;
                        font-size: 2rem;
                        color: $base-color-grey-dark
                    }
                }
            }
        }
    }
    &__footer-div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 20vh;
        background-color: $base-color-grey;
        &__footer {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            &__nav {
                list-style: none;
            }
            &__nav a {
                text-decoration: none;
                font-size: 2rem;
                color: $base-color-white;
                transition: all .5s;
                font-weight: 100;
                &:hover {
                    color: $base-color-tertiary;
                    text-decoration: none;
                }
            }
            &__contact-menu {
                list-style: none;
                padding: 10px;
                text-align: left;
                display: block;
                text-decoration: none;
                font-size: 2rem;
                color: $base-color-white;
                transition: all .5s;
                font-weight: 100;
            }
        }
    }
}

.social-link {
    font-size: 2.5rem;
    cursor: pointer;
    transition: all .5s;
    margin-bottom: 10px;
    margin-right: 10px;
    &:hover {
        color: $base-color-secondary;
    }
}