.landing-section {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    border-bottom: 3px solid $base-color;
    background-color: $base-color-grey-light;
    padding: 0 10%;
    &__header-wrapper {
        width: 40%;
    }
    &__logo-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2.5% 0;
    }
    &__header {
        font-size: 5rem;
        color: $base-color-grey-dark;
        margin-bottom: 5%;
    }
    &__sub-header {
        font-size: 1.25rem;
        color: $base-color-grey-dark;
        margin-bottom: 5%;
    }
    &__video-btn {
        width: 20rem;
        min-height: 50px;
        background-color: $base-color-grey-dark;
        padding: 0px 20px 0 20px;
        border: none;
        font-size: 1.5rem;
        color: $base-color-white;
        font-weight: bold;
        border-radius: 25px;
        cursor: pointer;
        transition: all .25s;
        border: 3px solid transparent;
        margin-right: 5% !important;
        &:hover {
            border: 3px solid $base-color-grey-dark;
            background-color: transparent;
            color: $base-color-grey-dark;
        }
    }
    &__callback-btn {
        width: 20rem;
        min-height: 50px;
        background-color: $base-color;
        padding: 0px 20px 0 20px;
        border: none;
        font-size: 1.5rem;
        color: $base-color-grey-dark;
        font-weight: bold;
        border-radius: 25px;
        cursor: pointer;
        transition: all .25s;
        border: 3px solid transparent;
        margin-right: 5% !important;
        &:hover {
            border: 3px solid $base-color-grey-dark;
            background-color: transparent;
            color: $base-color-grey-dark;
        }
    }
    &__bottom-text {
        bottom: 5%;
        position: absolute;
        font-size: 2.5rem;
        width: 40%;
        color: $base-color-grey-dark;
    }
    &__banner-svg {
        position: absolute;
        right: 5%;
        top: 20%;
        width: 40%;
    }
}

.move-arrow {
    transform: translateY(20px);
    transition: all .5s;
}

#vidOverlay {
    content: '';
    position: absolute;
    height: 100%;
    width: 120%;
    background: rgba(241, 241, 241, 0.8); //Change as per your requirement
    pointer-events: none;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
}


/*---------------------------------------------------------------------------------------------------------------------------------------------*/

.slider {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: all;
}

.slider-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-content-wrapper {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider-content__item {
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    &__title-button-wrapper {
        position: absolute;
        top: 15%;
        left: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-width: 50%;
        &__header {
            font-size: 5rem;
            color: #424b54;
            margin-bottom: 5%;
            min-width: 100%;
            text-align: center;
        }
        &__btn-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            &__questionnaire-btn {
                width: 40%;
                min-height: 50px;
                background-color: $base-color-secondary;
                padding: 0px 20px 0 20px;
                border: none;
                font-size: 1.5rem;
                color: $base-color-white;
                font-weight: bold;
                border-radius: 25px;
                cursor: pointer;
                transition: all .25s;
                border: 2px solid transparent;
                margin-right: 5% !important;
                &:hover {
                    border: 2px solid $base-color;
                    background-color: transparent;
                    color: $base-color;
                }
            }
            &__more-info-btn {
                width: 40%;
                min-height: 50px;
                background-color: $base-color-secondary;
                padding: 0px 20px 0 20px;
                border: none;
                font-size: 1.5rem;
                color: $base-color-white;
                font-weight: bold;
                border-radius: 25px;
                cursor: pointer;
                transition: all .25s;
                border: 2px solid transparent;
                &:hover {
                    border: 2px solid $base-color;
                    background-color: transparent;
                    color: $base-color;
                }
            }
        }
    }
    &__img-blob {
        position: absolute;
        right: 15%;
        width: 40%;
    }
    &__img-sprite {
        width: 25%;
        position: absolute;
        right: 18%;
    }
}

.image-1 {
    background-color: #963484;
}

.image-2 {
    background-color: #3066BE;
}

.image-3 {
    background-color: #60AFFF;
}

.image-4 {
    background-color: #28C2FF;
}

.image-5 {
    background-color: #2AF5FF;
}

.image-6 {
    background-color: navy;
}

.slider-controls {
    padding: 20px;
    text-align: center;
}

.slider-content__controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /*transform: translateY(-50%);*/
    /*padding:0 15px;*/
}


/* Arrows */

.prev-arrow,
.next-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
    width: 20px;
    transition: all 0.3s;
}

.prev-arrow {
    left: 20px;
}

.next-arrow {
    right: 20px;
}

.prev-arrow:hover,
.next-arrow:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
}


/* Dots */

.dots {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
}

.dot {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    /*box-shadow: 0 0 5px 0px rgba(0,0,0,0.9);*/
    border-radius: 50%;
    transition: all 0.3s;
}

.dot:hover {
    background-color: $base-color;
}

.dot--active {
    background-color: $base-color;
}