.matters-selection {
    width: 100%;
    height: 15vh;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10rem;
    font-size: 2rem;
    color: $base-color-grey-dark;
    &__h1 {
        margin-bottom: 3rem;
    }
    &__form {
        display: flex;
        &__option {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid $base-color-grey-dark;
            border-radius: 1.25rem;
            height: 6rem;
            width: 35rem;
            margin-right: 2rem;
            padding: 4rem;
            position: relative;
            transition: all .2s;
            text-align: center;
            & input {
                width: 100%;
                height: 8rem;
                z-index: 100;
                cursor: pointer;
                opacity: 0;
            }
            & label {
                position: absolute;
                margin: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
            }
        }
    }
}

.active-service {
    background-color: $base-color-grey-dark;
    color: $base-color-white;
}